*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
    //paleta colores
    
    $paleta:(
    "color-rosa":#EAD7E1,
    "color-gris": #343A40,
    "color-parrafo": rgb(72, 61, 139),
    "color-violeta": rgb(181, 158, 199)
    );
    //fin paleta colores
    
 // mixin

    @mixin bodySizes ($width, $height) {
        height: $height;
        width: $width;
    }
//fin mixin

    body {
        @include bodySizes(100%,auto);
        background-color: map-get($paleta, "color-rosa" );
    }
    /* home */
    .navbar-brand img {
        height: 50px; 
    }
    main {
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .jumbotron-home{
        background-image: url(./imagen/hola.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    
    p{
        color: map-get($paleta ,"color-violeta");
        font-size: 45px;
        text-align: center;
        -ms-text-size-adjust: auto;
        text-shadow: slategray;
        -webkit-text-stroke: 1px #2a262b;
    }
}
    .h2{
        color: map-get($paleta ,"color-parrafo" );
        margin: 50px 0 50px 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 300%;
        text-align: center;
        padding: 30px 0 30px 0;
    }
    .carousel-inner{
        width: 100%;
        height: 100%;
        padding-bottom: 15%;      
    
    img{
        width: 100%;
    }
}
    .section{
        width:30%;
        margin-left: 35%;
    }

    .main-galeria__contenedor{
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap:10px ;
        row-gap:10px;
        margin: 10px 0px 50px 0px;
        h4{
            color: map-get($paleta ,"color-parrafo" );

        }
    
    .item{
        padding: 50px;
        text-align: center;  
        color: map-get($paleta ,"color-parrafo" );
        margin: 20px;  
        :hover{
            filter: grayscale(70%);}
        
}
}


    /* FIN home */
    
    
    /* CONTACTO */
    .h3{
        text-align: center;
        color: map-get($paleta ,"color-gris" );
        padding: 10% 0 10% 0;
    
    }
    .container{
        display: flexbox;
        color:map-get($paleta ,"color-violeta" );
        width: 80%;
        margin-bottom:10%;
        border-radius: 1em;
        padding-bottom: 0.5em;
        justify-content: center;
        background-color: map-get($paleta ,"color-gris" );
    
    h2{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 0.5em;
        font-size: 45px;
        font-weight: bolder;
    }
    }
        /* FIN CONTACTO */
    
        /* MAIN COSMETICOS */
    
    .main-cosmeticos h2 {
        font-size: 45px;
        text-align:center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #2a262b;
        border-width: thick;
        padding-top: 5%;
    }
    .main-cosmeticos__contenedor{
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap:10px ;
        row-gap:10px;
        margin: 5% 0 0 5%;
        
        }
        
            .crema{
                
                padding: 5%;
                text-align: center;
                color: map-get($paleta , "color-parrafo" );
                    img:hover{
                    transform: scale(1.15);
                    }
                    p{
                        text-align: center;
                        margin-left: 5%;
                        margin-right: 5%;
                    }
            }

    
        /* FIN MAIN COSMETICOS */
    
    
        /* MAIN JABONES */
        .main-jabones h2{
        
            @extend .main-cosmeticos;
            
            
        }
        .main-jabones__contenedor{
            display: grid;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap:10px ;
            row-gap:10px;
            margin: 10px 0px 50px 0px;
            
        
            }
            
                .jabon{
                    padding: 10%;
                    text-align: center;
                    
                        img:hover{
                        transform: scale(1.15);
                        }
                        p{
                            text-align: center;
                            margin-left: 5%;
                            margin-right: 5%;
                            color: map-get($paleta , "color-parrafo" );
                        }
                }
        
        
    
        /* FIN MAIN JABONES */
    
    
        /* MAIN NOSOTROS */
        .cointainer-fluid {
            h2{
            text-align: left;
            background-color:map-get($paleta ,"color-rosa" );
            font-size: 40px;
            margin-bottom: 0px;
            padding: 30px 0 30px 10px;
            }
        
    
    .n-left{
        height: auto;
        background-color:map-get($paleta ,"color-rosa" );
            h2{
            text-align: center;
            }
            p{
            color:map-get($paleta ,"color-parrafo" );
            text-align: justify;
            padding: 10%;
            }
    }
    .n-right{
        height: auto;
        padding-left: 0px;
        img{
            width: 100%;
            padding: 0 40px 40px 40px;
        }
    }
}

    
    
    /* FIN MAIN NOSOTROS */
    
    
    /* MAIN TRATAMIENTOS */
    .main-tratamiento{
        text-align: center;
        box-sizing: border-box;
    }
    .jumbotron{
        background-image: url(./imagen/vintage-g307582187_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        color: whitesmoke;
        text-shadow: slategray;
        font-size: 30px;
        object-fit: cover;
        
        
    
    h2{
        color: rgb(19, 5, 2);
        font-size: 45px;
    }
}
    .container-tratamiento{
        hr{
            color: map-get($paleta ,"color-parrafo");
            height: 1px;
        }
        
        p{
            margin-right: 10%;
            margin-left: 10%; 
            color: map-get($paleta, "color-parrafo");
            font-size: 30px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    
    
        ul{
            font-size: 20px;
            color: map-get($paleta, "color-parrafo");
            padding-left: 50px;
            margin-right: 30px;
        }
    
        h3{
            text-align: center;
            color: map-get($paleta, "color-gris");
            padding-bottom: -20px;
        }
    
}
    
    /* FIN MAIN TRATAMIEN
    /* FIN MAIN TRATAMIENTOS. */
        
    
    .footer{
        display: flex;
        background-color: map-get($paleta ,"color-gris");
        width: 100%;
        text-align: center;
        color: #9A9DA0;
        justify-content: space-evenly;
    }
    
